trigger:
- master
pool:
  vmImage: 'Ubuntu-18.04'

variables:
  imageName: 'pipelines-javascript-docker'

steps:
- task: JFrogToolsInstaller@1
  inputs:
    artifactoryConnection: 'hts2'
    cliInstallationRepo: 'jfrog-cli-v2-new'
- task: Docker@2
  displayName: Build an image
  inputs:
    repository: docker login hts1-docker-local.jfrog.io/$(imageName)
    command: build
    Dockerfile: app/Dockerfile
- task: JFrogDocker@1
  inputs:
    command: 'Push'
    artifactoryConnection: 'hts2'
    imageName: 'docker login hts1-docker-local.jfrog.io/$(imageName):$(Build.BuildId)'
    collectBuildInfo: true
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
    threads: '3'
    skipLogin: false'
    includeEnvVars: true
- task: JFrogPublishBuildInfo@1
  inputs:
    artifactoryConnection: 'hts2'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
